@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use tVis area to proVide additional information.</p>

<p>@ViewBag.ID</p>
<p>@ViewBag.Nome</p>
<p>@ViewBag.Endereco</p>
<p>@ViewBag.Tel</p>